doctype
html
  head
    meta(charset='UTF-8')
    title loading pen
    link(href="favicon.ico", rel="icon", type="image/png")
    link(rel="stylesheet", type="text/css", href="css/main.css")
  
  body
    section(role="main")#main
      svg(viewBox="0 0 32 32").loader-pie#pie-loader
        circle(r="12", cx="16", cy="16").loader-pie--color1#js-pie-loader-toggle
        circle(r="12", cx="16", cy="16").loader-pie--color2#js-pie-loader1
        circle(r="12", cx="16", cy="16").loader-pie--color1#js-pie-loader2


    //- script(src="http://code.jquery.com/jquery-2.1.0.min.js")
    script(src="js/tween.min.js")
    script(src="js/main.js")






